<div class="row" ng-controller="cardController">
    <div class="col-md-12" ng-init="refreshCards()">

        <h1>Cards</h1>
        <a href="/create">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Create new Card
        </a>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="card in cardList">
                <div class="card" ng-click="showCard(card)">
                    <h2>{{card.Name}}</h2>
                    <p>{{card.Description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>