<div class="row"  ng-controller="cardController">
    <div class="col-md-6" ng-init="refreshCards()">
        <h1>Cards</h1>
        <ul>
            <li ng-repeat="card in cardList">
                <a ng-click="showCard(card)">{{card.Id}} - {{card.Name}}</a> <!--href="view?Id={{card.Id}}"-->
            </li>
        </ul>

        <a href="create">Create new Card</a>
    </div>
    <!--<div class="col-md-6">
        <h1>{{cardDetails.Name}}</h1>
        <h2>{{cardDetails.Description}}</h2>
        <span>{{cardDetails.Barcode}}</span>
    </div>-->
</div>