<div class="row">
    <div class="col-md-6">
        <form ng-submit="addCard()" role="form">
            <div class="form-group">
                <input type="text" ng-model="Name" name="Name" placeholder="Name" />
                <input type="text" ng-model="Description" name="Description" placeholder="Description" />
                <input type="text" ng-model="Barcode" name="Barcode" placeholder="Barcode Number" />
                <input type="submit" id="submit" value="Submit" />
            </div>
        </form>
    </div>
</div>