@{
    ViewData["Title"] = "Home Page";
}

<div ng-app="LoyaltyCardApp"  ng-controller="cardController">    
    <div ng-view></div>
</div>

@section scripts{
    <script type="text/javascript">
        //$(".barcode").JsBarcode("9780199532179", { format: "EAN", displayValue: true, fontSize: 20 });
    </script>
}