@{
    ViewData["Title"] = "Home Page";
}

<div ng-app="LoyaltyCardApp" ng-controller="CardController" class="row">
    <ul>
        <li ng-repeat="card in cardList">
            <span>{{card.Name}}</span>
        </li>
    </ul>
</div>
