@{
    ViewData["Title"] = "Home Page";
}
<div ng-app="loyaltyCardApp">
    <div ng-controller="CardListCtrl" class="row">
        <ul>
            <li ng-repeat="card in cardList">
                <span>{{card.Name}}</span>
            </li>
        </ul>
    </div>
</div>