@{
    ViewData["Title"] = "Home Page";
}

<div ng-app="LoyaltyCardApp">
    <div ng-controller="cardController" class="row" ng-init="refreshCards()">
        <ul >
            <li ng-repeat="card in cardList">
                <span>{{card.Name}}</span>
            </li>
        </ul>

        <button ng-click="refreshCards()">Refresh</button>
    </div>
</div>